extends ../common
block header
  h1.col Users authentification
  div.col
    h3 User login
    a.btn.btn-secondary(href='/') Back to Homepage
    
block content
  form(action='/users/add' method='post')
    label Username: 
      input(type='text' name='username' value= values? values.username: '')
    label Password:
      input(type='password' name='password')
    button.mt-3.btn.btn-primary(type='submit') Login
  hr
  each error in errors || []
    p.alert.alert-danger= error

