extends ../common
block header
  h1.col My account
  div.col
    h3.text-danger User login
    a.btn.btn-secondary(href='/') Back to Homepage
    
block content
  form(method='post')
    label Email: 
      input(type='email' name='email' value= values? values.email: '')
    label Password:
      input(type='password' name='password')
    button.mt-3.btn.btn-primary(type='submit') Login
  hr
  each error in errors || []
    p.alert.alert-danger= error
