extends ../common
block header
  h1 Library
  h3 Book management &nbsp;
  a.btn.btn-secondary(href='/') Back to Homepage
block content
  form(action='/books/add' method='post')
    label Title: 
      input(type='text' name='title' required)
    label Description:
      input(type='text' name='description')
    button.mt-3.btn.btn-primary(type='submit') Add to library
  table.table.table-lg.col
    legend Userlist
    tr
      th Bool title
      th Description
      th
    each book in books
      tr
        td= book.title
        td= book.description
        td
          a.ml-3.btn.btn-sm.btn-warning(href='/books/upd/' + book.id) Edit
          a.ml-3.btn.btn-sm.btn-danger(href='/books/del/' + book.id) Delete
