extends ../common
block header
  h1 Library
  h3 Book management &nbsp;
  a.btn.btn-secondary(href='/') Back to Homepage
block content
  form(action='/books/add' method='post')
    label Title: 
      input(type='text' name='title' required)
    label Description:
      input(type='text' name='description')
    button.mt-3.btn.btn-primary(type='submit') Add to library
  h3 Book list
  ul
    each book in books
      li
        div
          b #{book.title}
          a.ml-3.btn.btn-sm.btn-warning(href='/books/upd/' + book.id) Edit
          a.ml-3.btn.btn-sm.btn-danger(href='/books/del/' + book.id) Delete
          p Description: #{book.description}