extends ../common
block header
  h1.col Library
  div.col
    h3 Book management
    a.ml-auto.btn.btn-secondary(href='/') Back to Homepage
block content
  form(action='/books/add' method='post')
    label Title: 
      input(type='text' name='title' required)
    label Description:
      input(type='text' name='description')
    button.mt-3.btn.btn-primary(type='submit') Add to library
  hr
  table.table.table-lg.col
    legend Book list
    tr
      th Book title
      th(colspan='4') Description
      th
      th
    each book in books
      tr
        td= book.title
        td= book.description
        td
          a.btn.btn-sm.btn-warning(href='/books/upd/' + book.id) Edit
        td
          a.btn.btn-sm.btn-danger(href='/books/del/' + book.id) Delete
