link(rel="stylesheet" href="style.css")
h1 Transactions
h3 Add new transactions
  a(href='/trans')
    button Back to transaction list

select
  each user in users
    option= user.username
select
  each book in books
    option= book.title
a(href='/trans/create')
  button Add a transaction