extends ../common
block header
  h1.col Transactions
  div.col
    h3 Transactions list
    a.btn.btn-secondary(href='/') Back to Homepage
    
block content
  if isAdmin
    a.col-4.mb-3.btn.btn-primary(href='/trans/create') Create a transaction
  else
    button.col-4.mb-3.btn.btn-light(disabled) Create a transaction
  
  table.table.table-lg.col
    tr
      th ID
      th(colspan='4') Book title
      th User
      th Status
      
    each tran in trans
      tr
        td= tran.id
        td(colspan='4')= tran.title
        td= tran.username
        td= tran.isComplete?'completed':'[ open ]'
        td
          if isAdmin
            if !tran.isComplete
              a.btn.btn-sm.btn-warning(href='/trans/'+tran.id+'/complete') Close
            else
              button.btn.btn-sm.btn-light(disabled) closed