link(rel="stylesheet" href="style.css")
h1 Transactions
a(href='/')
  button Back to Homepage
a(href='/trans/create')
  button Create a transaction
h3 Transactions list
ul
  each tran in trans
    li
      h4= tran.bookId
      p= tran.userId