extends ../common
block header
  h1 Transactions
  h3 Transactions list
  a.btn.btn-secondary(href='/') Back to Homepage
block content
  a.mb-3.btn.btn-primary(href='/trans/create') Create a transaction
  table
    tr
      th ID
      th(colspan='3') Book title
      th User
      th Status
      th
    each tran in trans
      tr
        td= tran.id
        td(colspan='3')= tran.title
        td= tran.username
        td= tran.isComplete?'completed':'open'
        td
          if !tran.isComplete
            a.ml-3.btn.btn-sm.btn-warning(href='/trans/'+tran.id+'/complete') Close