extends ../common
block header
  h1 Transactions
  h3 Transactions list
  a.btn.btn-secondary(href='/') Back to Homepage
block content
  a.btn.btn-success(href='/trans/create') Create a transaction
  ul
    each tran in trans
      li
        h4 Book:
          span #{tran.title}
        p User:
          span= tran.username
        span Status: #{tran.isComplete?'completed':'open'}
          if !tran.isComplete
            a.btn.btn-warning.ml-2(href='/trans/'+tran.id+'/complete') Close this one