h2 Trang quản lý sách
form(action='/books/add' method='post')
  div
    label Tiêu đề: 
      input(type='text' name='title' required)
  div
    label Mô tả:
      input(type='text' name='description')
  button(type='submit') Thêm sách
h3 Danh mục đầu sách
ul
  each book in books
    li
      div
        a(href='/books/upd')
          button Sửa
        span &nbsp; Tiêu đề: #{book.title} &nbsp;
        a(href='/books/del/:' + book.id)
          button Xoá
      div Mô tả: #{book.description}