h2 Trang quản lý sách
form(action='/books/add' method='post')
  div
    label Tiêu đề: 
    div
      input(type='text' name='title' required)
  div
    label Mô tả:
    div
      input(type='text' name='description')
  button(type='submit') Thêm sách
h3 Danh mục đầu sách
ul
  each book in books
    li
      div
        b #{book.title} &nbsp;
        a(href='/books/upd/' + book.id)
          button Sửa
        a(href='/books/del/' + book.id)
            button Xoá
        p Mô tả: #{book.description}