h1 Library
h2 Book management
form(action='/books/upd' method='post')
  div
    label Title: 
    div
      input(type='text' name='title' required)
  div
    label Description:
    div
      input(type='text' name='description')
  button(type='submit') Add to library
a(href='/')
  button Back to Homepage
h3 Book list
ul
  each book in books
    li
      div
        b #{book.title} &nbsp;
        a(href='/books/upd/' + book.id)
          button Edit
        a(href='/books/del/' + book.id)
            button Delete
        p Description: #{book.description}