doctype html
html
  head
    title Book management
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    //link(rel="stylesheet" href="styles.css")
  body
    block header
    hr
    block content
    hr
    block foot
      #footer
        p Copyright &copy; 2020