extends common
block content
  h1 Welcome
  div
    a(href="/books")
      button Go to library
  br
  div
    a(href="/users")
      button User management
  br
  div
    a(href="/trans")
      button Transaction management