extends common
block header
  h1 Welcome
  h2 to book management app
block content
  div
    a(href="/books")
      button Go to library
  div
    a(href="/users")
      button User management
  div
    a(href="/trans")
      button Transaction management