extends common
block header
  h1 Welcome
  h2 to book management app
block content
  div.mb-2
    a(href="/books")
      button.btn.btn-warning Go to library
  div.mb-2
    a(href="/users")
      button.btn.btn-warning User management
  div
    a(href="/trans")
      button.btn.btn-primary Transaction management