extends common
block header
  h1.col-12.text-center My library app
    h2 Welcome
block content
  div.mb-3
    a.btn.btn-lg.btn-success(href="/books") Book management
  div.mb-3
    a.btn.btn-lg.btn-success(href="/users") User management
  div.mb-3
    a.btn.btn-lg.btn-primary(href="/trans") All transactions