link(rel="stylesheet" href="style.css")
h1 Welcome
div
  a(href="/books")
    button
      h3 Go to library
br
div
  a(href="/users")
    button
      h3 User management
br
div
  a(href="/trans")
    button
      h3 Transaction management