extends common
block header
  h1 Welcome
  h2 to book management app
block content
  div.mb-3
    a.btn.btn-lg.btn-success(href="/books") Go to library
  div.mb-3
    a.btn.btn-lg.btn-success(href="/users") User management
  div.mb-3
    a.btn.btn-lg.btn-primary(href="/trans") Transaction management