h1 Library
h2 Book management
form(action='/users/add' method='post')
  div
    label Title: 
    div
      input(type='text' name='title' required)
  div
    label Description:
    div
      input(type='text' name='description')
  button(type='submit') Add to library
a(href='/')
  button Back to Homepage
h3 Book list
ul
  each user in users
    li
      div
        b #{user.title} &nbsp;
        a(href='/users/upd/' + user.id)
          button Edit
        a(href='/users/del/' + user.id)
            button Delete
        p Description: #{user.description}