link(rel="stylesheet" href="style.css")
h1 Users management
h3 Add user &nbsp;
  a(href='/')
    button Back to Homepage
form(action='/users/add' method='post')
  div
    label Username: 
    div
      input(type='text' name='username' required)
  div
    label Email:
    div
      input(type='email' name='email')
  button(type='submit') Add to user list
h3 User list
ul
  each user in users
    li
      div
        b #{user.username} &nbsp;
        a(href='/users/upd/' + user.id)
          button Edit
        a(href='/users/del/' + user.id)
            button Delete
        p Email: #{user.email}