link(rel="stylesheet" href="style.css")
h1 Transactions
a(href='/')
  button Back to Homepage
h3 Transactions list
ul
  each transaction in transactions
    li
      div
        b= transaction.title
        span= transaction.username